.navigation-bar{
    position: absolute;
    top: 6%;
    transition: 0.25s ease;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(196, 233, 210);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    a{
        text-decoration: none;
    }
    .nav-bar-items{
        width: fit-content;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            color: black;
        }
        p:hover{
            background-color: rgb(181, 211, 192);
        }
        i{
            margin-right: 10px;
            color: black;
        }
    }
}
