.navigation-bar{
    border: 1px solid black;
    width: 98vw;
    height: 100px;
    border-radius: 10px;
}
.nav-bar-items{
    display: flex;
    gap: 25px;
}
.nav-bar-items li{
    list-style: none;

}