.helpline-div{
    position: absolute;
    top: 6%;
    left: 18.5%;
    height: 90%;
    width: 76.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    img{
        border-radius: 10px;
    }
    span{
        color: red;
    }
    .by-loc{
        border: 1px solid;
        border-radius: 10px;
        position: absolute;
        top: 20%;
        box-shadow: 2px 2px 2px black;
        left: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 15px;
        margin-right: 30px;
        i{
            font-size: 1.5rem;
        }
        p{
            text-align: center;
            font-size: 1.6rem;
        }
        button{
            font-family: inherit;
            border-radius: 10px;
            background-color: black;
            color: ghostwhite;
        }
        button:active{
            transform: translateY(2px);
        }
        .loc-ul{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            li{
                list-style-type: none;
            }
        }
    }
}
